.btn-delete-all {
    animation: display .3s linear 1 alternate;
}

select {
    width: 150px;
}

.category-select {
    width: 250px;
}

.alert-box {
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 100%;
}
.alert-img {
    position: absolute;
    top: 0;
    left: 0;
}
.alert-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: absolute;
    top: 130px;
    left: 14%;
}

.search-wrap {
    padding: 8px 16px;
    border-radius: 8px;
    background: #fff;
}

.search-wrap.active {
    border: 1px solid var(--main, #2A59FE);
    border-radius: 8px;
    background: var(--back-light, linear-gradient(0deg, rgba(255, 255, 255, 0.98) 0%, rgba(255, 255, 255, 0.98) 100%), linear-gradient(0deg, rgba(42, 89, 254, 0.30) 0%, rgba(42, 89, 254, 0.30) 100%), #000);
}

.search-input {
    color: #000;
    background-color: transparent;
    border: none;
    outline: none !important;
}

.search-input:focus {
    outline: none !important;
}

.search-btn {
    height: fit-content;
    padding: 6px 12px;
    width: 20px;
}

.search-icon {
    display: inline-block;
    margin-right: 16px;
    color: #0b1d5c;
}

#searchOverlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#searchOverlay.show {
    visibility: visible;
    opacity: 1;
}

#searchOverlay .search-input-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60px;
}

#searchOverlay input {
    height: 100%;
    padding: 16px;
    width: 100%;
}

#searchOverlay .search-input-wrapper button {
    padding: 16px;
    height: 100%;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 0;
}

#searchOverlay .dismiss-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

#searchOverlay .search-result-list {
    position: absolute;
    top: calc(30% + 30px);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    width: 60%;
    height: 300px;
    overflow-y: auto;
}

.search-result-list .search-result-item {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    padding: 0 16px;
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #e5e5e5;
    background-color: #FFF;
}

.search-result-list .search-result-item a {
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

#searchOverlay .dismiss-btn i {
    font-size: 24px;
}

@media (max-width: 992px) {
    #searchOverlay .search-input-wrapper {
        width: 90%;
    }
    
    #searchOverlay .search-result-list {
        width: 90%;
    }
}

@media (max-width: 768px ) {
    select {
        width: 100%;
    }
    
    .category-select {
        width: 100%;
    }

    .add-post-btn {
        width: 100%;
    }
    .btn-delete-all {
        width: 100%;
    }
}

@keyframes display {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}